# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# IDE files
.vscode/
.idea/

# macOS files
.DS_Store

# Data and database files
*.csv
*.db

# Spark output directories
raw_loaded_data/
processed_sentiment_data/
spark-warehouse/

# Spark Structured Streaming checkpoints
_chkpt_*

